body {
    background-color: #98FB98;
    color: #003333;
}

#triangleType {
    color: #3f8787;
    font-style: italic;
}

#triangleArea {
    color: #3f8787;
    font-style: italic;
}

#triangleView {
    color: #3f8787;
    font-style: italic;
}
