body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
div {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1 {
    color: #333;
}
input {
    padding: 10px;
    margin: 10px;
    width: 80%;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
#submit {
    width: 100%;
}
h4 {
    margin-top: 20px;
    color: #555;
}
p#result {
    font-weight: bold;
    font-size: 20px;
    color: #4CAF50;
}
